.item_container{
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    transition: all 0.3s ease-out;
}

.item_container *{
    transition: all 0.3s ease-in-out;
}

.item_container:hover{
    cursor: pointer;
    transform: rotate3d(0, 1, 0, 10deg);
}

.item_container:hover .visual_container, .item_container:hover img{
    border-radius: 5rem;
}

.item_container:hover [class*='title']{
    color: white;
    transition: all 0.4s ease-out;
}

.visual_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #0E002C;
    border-radius: 10px;
    margin-right: 1.5rem;
}

.visual_container img{
    width: 80px;
    height: 80px;
    background-position: center;
    border-radius: 10px;
}

.titles_container{
    display: flex;
    flex-direction: column;
}

.titles_container .title{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.815);
}

.titles_container .subtitle{
    font-size: small;
    margin-top: 0.5rem;
    text-transform: lowercase;
    padding-left: 0.2rem;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.646);
}