.category_container .title{
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.category_item{
    background: #474747;

    display: flex;
    justify-content: center;

    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.category_item .icon{
    position: relative;
    left: -1rem;
}

.category_item .title{
    padding: 0;
    margin: 6px 0;
}

.light_title{
    font-weight: 600;
    font-size: 23px;
    line-height: 0;
}

.items_container{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}