.home{
    background-image: linear-gradient(170deg, #D0BB00 1%, #000000 12%, #000000 100%, #000000 100%, #000000 100%);
    margin-bottom: 3rem;

    *{
        font-weight: 700;
    }

    .__container{
        padding: 0 1rem 0 2rem;
    }

    .start_container{
        display: inline-flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 55px;

        .icons_container > *{
            margin-right: 19px;
        }

        .icons_container{
            display: inline-flex;
            
            padding-bottom: 0.5rem;
        }

        .title{
            padding-left: 1rem;
        }
    }

    @media (max-width: 780px) {
        .start_container{
            justify-content: center;
        }
    }

    .categ_container{
        margin-top: 2rem;

        &:nth-child(2){
            margin-top: 6px;
        }
    }
}