.main{
    transition: all 0.3s ease-in-out;
    min-width: calc(100vw - 346px);
    background-color: black;
}

::-webkit-scrollbar {
    width: 5.5px;
    max-height: 3px;
}

::-webkit-scrollbar-track{
    border-radius: 100px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.4);
}