.progressbar{
    background-color: black;
    border-radius: 17px;
    transition: all 0.2s ease-in-out;
}

.progressbar .progress{
    border-radius: 17px;
    background-color: white;
    height: 13px;
}

.buttons_container{
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1.3rem;
}

.buttons_container svg{
    margin: 1.5rem 1rem;
    transition: all 0.15s ease-in-out;
}

.buttons_container svg:hover{
    cursor: pointer;
    filter: invert(0.3) sepia(1) saturate(15) hue-rotate(97.2deg) brightness(0.65);
}