.progressbar{
    background-color: black;
    border-radius: 17px;
}

.progressbar .progress{
    border-radius: 17px;
    background-color: white;
    height: 13px;
}

.buttons_container{
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1.3rem;
}

.buttons_container svg{
    margin: 1.5rem 1rem;
}