.header{
    min-width: 346px;
    max-width: 346px;
    background: #0E002C;

    .navigation_container{
        margin: 0 24px;
        margin-top: 5rem;

        .nav_link{
            display: flex;
            align-content: center;
            color: white;
            text-decoration: none;
    
            &:nth-child(-n+2){
                margin-bottom: 22px;
            }
            
            svg{
                height: 31.22px;
            }
    
            .name{
                margin-left: 14px;
            }
    
            &:hover{
                color: rgb(149, 149, 149);
                cursor: pointer;
            }
        }
    }

}